<div class="background">
  <!--Login Form Start-->
  <div class="container">
    <h2>Login</h2>

    <form>
      <div class="form-group">
        <input type="email" name="email" [(ngModel)]="email" required />
        <label for="email">Email</label>
        <div class="error">{{ errormessage }}</div>
      </div>

      <div class="form-group">
        <input
          type="password"
          name="password"
          [(ngModel)]="password"
          required
        />
        <label for="password">Password</label>
        <div class="error">{{ errormessagep }}</div>
      </div>

      <button type="button" (click)="signIn()" id="btn">Login</button>
      <p>
        Don't have a account?
        <a (click)="routeToNewUser()">Register</a>
      </p>
      <br />
      <p>
        <a (click)="routeToForgotPassword()"> forgot password ? </a>
      </p>
      <br />
    </form>
  </div>
  <!--Login Form End-->
</div>
