<div class="about-page">
  <div class="about-section">
    <h1 style="background-color: rgb(249, 229, 254)">About Us</h1>
  </div>
  <div class="welcome py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
      <!-- //tittle heading -->
      <div class="row">
        <h3 class="text-left" style="color: black">About Store</h3>
        <div class="col-lg-6 welcome-left">
          <h5 class="my-sm-3 my-2">
            Welcome to ElectroCart, your premier destination for cutting-edge
            electronics! We pride ourselves on offering an extensive selection
            of top-quality electronic products that cater to your everyday
            needs. From the latest smartphones and high-definition televisions
            to powerful laptops and energy-efficient coolers, we’ve curated a
            range of products that combine innovation, performance, and style.
            Our user-friendly website ensures that you can effortlessly navigate
            through various categories, allowing for a seamless and enjoyable
            shopping experience. At ElectroCart, we are committed to bringing
            you the best in technology and convenience, all from the comfort of
            your home.
          </h5>
        </div>

        <div class="col-lg-6 welcome-right-top mt-lg-0 mt-sm-5 mt-4">
          <img
            src="../../../assets/Images/beautiful-photograph-wallpaper-background_853645-10508.jpg"
            class="img-fluid"
            alt=" "
          />
        </div>

        <div class="welcome-left">
          <br /><br />
          <h3 class="text-left" style="color: black">&ensp;What We Do ?</h3>
          <h5 class="my-sm-3" style="margin-left: 15px">
            At ElectroCart, we’re more than just an electronics store – we’re
            your trusted partner in technology. Our mission is to provide
            exceptional products at unbeatable prices, ensuring you get the best
            value for your money. Currently serving the Thane area, we offer a
            hassle-free shopping experience by delivering your chosen items
            directly to your doorstep at a time that suits you. Our curated
            selection of high-quality electronics eliminates the need for
            time-consuming in-store visits, long queues, and additional hassles
            like parking and bargaining. With ElectroCart, enjoy a streamlined
            shopping experience that brings the latest and greatest technology
            right to your home.
          </h5>
        </div>

        <div class="welcome-left">
          <br /><br />
          <h3 class="text-left" style="color: black">&ensp;Our Vision</h3>
          <h5 class="my-sm-3" style="margin-left: 15px">
            <li>
              <b>Leading the Technological Frontier:</b> By 2026, we aim to
              redefine the technology shopping experience in India, making it
              more innovative, intuitive, and accessible.
            </li>
            <li>
              <b>Enhancing Customer Experience:</b> We strive to deliver an
              exceptional shopping journey with a diverse range of trending
              products that meet the evolving needs of our customers.
            </li>
            <li>
              <b>Transforming the Future with Technology:</b> Our goal is to
              make a meaningful impact by offering cutting-edge technology that
              not only meets but exceeds expectations, driving progress and
              innovation.
            </li>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
